<%- include('partials/header') -%>


   

        <h1>
            <%= title %>
        </h1>
        <div>
        <p>
            <%= post %>
        </p>
</div>
     


</div>
<div class="footer-padding"></div>
  <div class="footer" style="position:relative; top: 20px;" >
    <p>Made with ❤️ by Ishan Verma</p>
  </div>
</div>
</body>
</html>